
.button:hover {
    cursor: pointer;
}

.navigation-button-disabled {
    color: rgba(0,0,0,0.25)
}

.navigation-button-enabled {
    color: black;
}

.navigation-button-enabled:hover {
    cursor: pointer;
}

.navigation-button-disabled:hover {
    cursor: default;
}